In [20]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization
import seaborn as sns # for statistical data visualization
%matplotlib inline

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('../WineCSVs'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

../WineCSVs\BlackTie0916.csv
../WineCSVs\MoscatoKWV0916.csv
../WineCSVs\MQSensorDataMoscatoKWV.csv
../WineCSVs\MQSensorDataTallHorse.csv
../WineCSVs\NamaquaCabSav0916.csv
../WineCSVs\OldMoscatoWine.csv
../WineCSVs\SilverMynSauvBlanc0917.csv
../WineCSVs\SixWineData.csv
../WineCSVs\Sophie0916.csv
../WineCSVs\TallHorse0916.csv
../WineCSVs\TrainCSV1309.csv

In [21]:
import warnings

warnings.filterwarnings('ignore')

In [22]:
data = '../WineCSVs/SixWineData.csv'

df = pd.read_csv(data)

In [23]:
df.head()

,yyyy-mm-dd timestamp,MQ6,MQ5,MQ4,MQ7,MQ3,MQ8,MQ2,MQ135,MQ9,BMPTemperature,Pressure(Pa),DHTTemperature,Humidity,Target
0,2024-09-16 15:38:24,648,862,817,416,940,757,682,681,723,35.92,83830.13,37.0,61.0,Sophie0916
1,2024-09-16 15:38:24,647,862,815,417,939,758,683,679,724,35.94,83587.56,37.0,61.0,Sophie0916
2,2024-09-16 15:38:25,646,863,815,419,939,759,682,677,725,35.95,83399.22,37.0,61.0,Sophie0916
3,2024-09-16 15:38:25,648,862,816,416,941,758,682,678,724,35.96,83237.08,37.0,61.0,Sophie0916
4,2024-09-16 15:38:26,648,860,815,418,939,757,680,675,724,35.96,83117.88,37.0,61.0,Sophie0916

In [24]:
# view the column names of the dataframe

col_names = df.columns

col_names

Index(['yyyy-mm-dd timestamp', 'MQ6', 'MQ5', 'MQ4', 'MQ7', 'MQ3', 'MQ8', 'MQ2',
       'MQ135', 'MQ9', 'BMPTemperature', 'Pressure(Pa)', 'DHTTemperature',
       'Humidity', 'Target'],
      dtype='object')

In [25]:
# check distribution of target_class column

df['Target'].value_counts()

Target
Sophie0916            582
MoscatoKWV1609        575
SilverMynSauvBlanc    562
BlackTie0916          557
NamaquaCabSav0916     549
TallHorse0916         543
Name: count, dtype: int64

In [26]:
# Ensure the 'Target' column is of string type (if it's not already)
df['Target'] = df['Target'].astype(str)

# View the percentage distribution of target_class column
df['Target'].value_counts() / float(len(df))

Target
Sophie0916            0.172803
MoscatoKWV1609        0.170724
SilverMynSauvBlanc    0.166865
BlackTie0916          0.165380
NamaquaCabSav0916     0.163005
TallHorse0916         0.161223
Name: count, dtype: float64

In [27]:
# view summary of dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3368 entries, 0 to 3367
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   yyyy-mm-dd timestamp  3368 non-null   object
 1   MQ6                   3368 non-null   int64
 2   MQ5                   3368 non-null   int64
 3   MQ4                   3368 non-null   int64
 4   MQ7                   3368 non-null   int64
 5   MQ3                   3368 non-null   int64
 6   MQ8                   3368 non-null   int64
 7   MQ2                   3368 non-null   int64
 8   MQ135                 3368 non-null   int64
 9   MQ9                   3368 non-null   int64
 10  BMPTemperature        3368 non-null   float64
 11  Pressure(Pa)          3368 non-null   object
 12  DHTTemperature        3368 non-null   float64
 13  Humidity              3368 non-null   float64
 14  Target                3368 non-null   object
dtypes: float64(3), int64(9), object(3)
memory usage: 394.8+ KB

In [28]:
# check for missing values in variables

df.isnull().sum()

yyyy-mm-dd timestamp    0
MQ6                     0
MQ5                     0
MQ4                     0
MQ7                     0
MQ3                     0
MQ8                     0
MQ2                     0
MQ135                   0
MQ9                     0
BMPTemperature          0
Pressure(Pa)            0
DHTTemperature          0
Humidity                0
Target                  0
dtype: int64